<h3 mat-dialog-title>Create Customer</h3>
<mat-dialog-content  class="mat-typography" [formGroup]="formCreateCustomer">
    <mat-form-field  class="col-md-12" appearance="outline">
        <mat-label>Full Name *</mat-label>
        <input formControlName="fullName" matInput>
        <mat-error>Vui lòng nhập họ tên</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Email *</mat-label>
        <input pruonlineNumber="true" formControlName="email" matInput maxlength="100">
        <mat-error>Vui lòng nhập email</mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Phone *</mat-label>
        <input pruonlineNumber="true" formControlName="phone" matInput maxlength="100">
        <mat-error>Vui lòng nhập số điện thoại</mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Subject *</mat-label>
        <input matInput formControlName="subject">
        <mat-error>Vui lòng nhập tiêu đề</mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Messages</mat-label>
        <input matInput formControlName="messages">
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Huỷ</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="!formCreateCustomer.valid" (click)="create()">Xác
        nhận
    </button>
</mat-dialog-actions>
