.mat-dialog-content {.mat-form-field {
  display: block;
}

  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 85vh;
}
.mat-dialog-title {
  color: #ed1c2e;
  font-size: 16px;
  font-weight: 600;
}

