.mfp-bg {
  background-color: #202531 !important;
  opacity: 0.95 !important;
  z-index: 3999;
}

.mfp-content {
  margin: -72px auto 0 !important;
}
.xl-popup {
  .white-popup-block {
    max-width: 80% !important;
  }
}
.lg-popup {
  .white-popup-block {
    max-width: 950px !important;
  }
}
.md-popup {
  å .white-popup-block {
    max-width: 750px !important;
    p.text-center {
      font-size: 16px !important;
    }
  }
}
.sm-popup {
  .white-popup-block {
    max-width: 395px !important;
    padding: 30px 12px 0;
    .mfp-close {
      height: 15px;
      width: 15px;
      top: 15px !important;
      right: 15px !important;
    }
    p.text-center {
      font-size: 16px !important;
    }
    .modal-footer {
      .btnWrap {
        &:before {
          left: -12px;
          width: 12px;
        }
        &:after {
          right: -12px;
          width: 12px;
        }
      }
    }
  }
}
.mfp-wrap {
  z-index: 4000 !important;
}
.mfp-content {
  margin-top: 0 !important;
}
.white-popup-block {
  background: #ffffff;
  padding: $line-height-computed * 2 $line-height-computed 0;
  text-align: left;
  margin: 0px auto;
  max-width: 950px;
  position: relative;
  border-radius: 6px;
  //overflow: hidden; allow date pickers to show outside
  &.no-bg {
    .modal-content {
      background-color: transparent;
    }
  }
  .bg-half-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .mfp-close {
    position: absolute;
    top: 26px !important;
    right: 26px !important;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0;
    cursor: pointer;
  }
  .modal-header {
    padding: 0;
    border: 0 none;
    h1,
    h2 {
      .fixed-action-btn {
        position: absolute;
        top: -17px;
        left: 0;
        right: auto;
      }
    }
  }
  .modal-content {
    border: 0 none;
    background-clip: inherit;
    box-shadow: none !important;
    .optionList {
      .item {
        padding-top: 27px;
        padding-bottom: 27px;
      }
    }
    // .form-group{
    //     label{
    //         font-family: $font-family-sans-serif;
    //         font-size: 16px;
    //         color: $sColor;
    //         text-transform: none;
    //         display: block;
    //         i{
    //             margin-right: 3px;
    //         }
    //         + .form-text{
    //             margin-top: -10px;
    //             display: block;
    //         }
    //     }
    //     .form-text{
    //         margin-bottom: $line-height-computed /2;
    //     }
    // }
    .tableWrap {
      table {
        td,
        th {
          font-size: 14px;
        }
      }
    }
    p.text-center {
      font-size: 18px;
      word-wrap: break-word;
    }
    .dropzone {
      .icon-drop-zone {
        min-height: 163px;
      }
      img {
        top: 22%;
        width: 50px;
        margin-left: -25px;
      }
    }
    input[type="file"] {
      width: 210px;
      margin: 0 auto;
      display: block;
    }
    .tab-content {
      .tab-pane {
        margin-bottom: $line-height-computed;
      }
    }
    .date-picker-notime-inline,
    .date-picker-timeOnly-inline,
    .date-picker-inline {
      margin: 0 auto;
    }
    .tick {
      height: 80px;
      width: 80px;
      margin: 0 auto $line-height-computed;
      display: block;
    }
    .table {
      thead {
        td,
        th {
          text-align: left;
          &:last-child {
            text-align: left;
          }
        }
      }
    }
  }
  .modal-footer {
    margin-top: $line-height-computed;
    border: 0 none;
    padding: 0;
    min-height: $line-height-computed * 2;
    .btnWrap {
      background-color: $light-gray;
      padding: $line-height-computed 15px 11px;
      display: block;
      text-align: center;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: -22px;
        height: 100%;
        width: 22px;
        background-color: $light-gray;
        content: "";
        border-bottom-left-radius: $border-radius-base;
      }
      &:after {
        position: absolute;
        top: 0;
        right: -22px;
        height: 100%;
        width: 22px;
        background-color: $light-gray;
        content: "";
        border-bottom-right-radius: $border-radius-base;
      }
      a,
      button {
        display: inline-block;
        margin-bottom: $line-height-computed / 2;
      }
      .btn-md {
        padding: 0 15px;
      }
      .btn-sm {
        padding: 0 30px;
      }
    }
  }
}

#createUpdateNamePopup {
  .form-group {
    .clearfix {
      margin-bottom: 10px;
    }
  }
}
