$font-size-base: 16px;
$line-height-base: 1.428571429 !default; // 20/14
$light-gray: #f2f2f2;
$border-radius-base: 4px !default;

$line-height-computed: floor(
  ($font-size-base * $line-height-base)
) !default; // ~20px
