<h3 mat-dialog-title>Update Service Image</h3>
<mat-dialog-content  class="mat-typography" [formGroup]="serviceForm">
    <mat-form-field>
        <input matInput placeholder="{{'Images' | translate}}" formControlName="images" [value]="data.images">
    </mat-form-field>
    <mat-card class="example-card">
        <img mat-card-image [src]="data.images" alt="Photo of a Service">
    </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Huỷ</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="!serviceForm.valid" (click)="updateImagesMain(data.idService)">Xác nhận
    </button>
</mat-dialog-actions>
