<form [formGroup]="formUpdateCustomer" *ngIf="customer$ | async as customer">
    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Full Name *</mat-label>
        <input formControlName="fullName" matInput>
        <mat-error>Vui lòng nhập họ tên</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Email *</mat-label>
        <input pruonlineNumber="true" formControlName="email" matInput maxlength="100">
        <mat-error>Vui lòng nhập email</mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Phone *</mat-label>
        <input pruonlineNumber="true"  formControlName="phone" matInput maxlength="11">
        <mat-error>Vui lòng nhập số điện thoại</mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Subject *</mat-label>
        <input matInput formControlName="subject">
        <mat-error>Vui lòng nhập tiêu đề</mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Messages</mat-label>
        <input matInput formControlName="messages">
    </mat-form-field>
    <div>
        <button mat-raised-button (click)="navigateCustomer()">HUỶ</button>
        <button style="margin-left: 25px" mat-raised-button (click)="updateCustomer()" [disabled]="!formUpdateCustomer.valid">XÁC NHẬN
        </button>
    </div>
</form>

