<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <!--<a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/charts']">-->
            <!--<mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Chart' | translate }}-->
        <!--</a>-->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blogs']">
            <mat-icon class="sidenav-icon">book</mat-icon> {{ 'Blog' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/customers']">
            <mat-icon class="sidenav-icon">person</mat-icon> {{ 'Customer' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/services']">
            <mat-icon class="sidenav-icon">subtitles</mat-icon> {{ 'Service' | translate }}
        </a>
    </mat-nav-list>
</div>
