<!--
  <div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="zmdi zmdi-chevron-up"></i>
    </span>
  </div>
-->

<div
  class="scroll-to-top"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
  (click)="scrollToTop()"
>
  <span class="symbol-btn-back-to-top"> <i class="fa fa-chevron-up"></i> </span>
</div>
