.scroll-to-top {
  display: flex;
  position: fixed;
  width: 40px;
  height: 38px;
  bottom: 0px;
  right: 40px;
  background-color: #717fe0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.show-scrollTop {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.symbol-btn-back-to-top {
  font-size: 25px;
  color: white;
  line-height: 1em;
}

.scroll-to-top:hover {
  opacity: 1;
  background-color: #717fe0;
}

@media (max-width: 575px) {
  .scroll-to-top {
    bottom: 0px;
    right: 15px;
  }
}
