<div class="login-page">
  <div class="content">
    <form class="login-form" [formGroup]="form" fxFlex>
      <div class="text-center"><h2 class="app-name">Admin System</h2></div>
      <div fxFlex fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Password"
            />
          </mat-form-field>
        </div>
      </div>
      <div
        fxFlex
        fxLayout="row"
        fxLayout.lt-md="column"
        style="margin: 20px 0 30px 0"
      >
        <div fxFlex>
          <mat-checkbox color="primary">Remember Me</mat-checkbox>
        </div>
        <div fxFlex fxLayoutAlign="end">
          <a href="javascript:void(0)">Forget Password</a>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <button
            mat-raised-button
            color="primary"
            class="w-100"
            (click)="onLogin()"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
