<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  <!--<div [fxFlex]="15">-->
    <!--<mat-card fxFlexFill fxLayoutAlign="center center">-->
      <!--15%-->
    <!--</mat-card>-->
  <!--</div>-->
  <div [fxFlex]="50">
    <mat-form-field>
      <input matInput placeholder="{{'Search' | translate}}">
    </mat-form-field>
  </div>
  <div [fxFlex]="50">
    <button type="button" mat-fab color="primary" class="add"
             (click)="addNew()" data-testid="add-crud">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </div>
</div>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{element.messages}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/customers/', row._id]"></tr>
    </table>
  </div>
</div>
