
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{'Title' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      <!--<ng-container matColumnDef="images">-->
        <!--<th mat-header-cell *matHeaderCellDef> Images </th>-->
        <!--<td mat-cell *matCellDef="let element"> <img style="width: 20%; height: 20%" src="{{element.images}}"> </td>-->
      <!--</ng-container>-->
      <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef> {{'Modified' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.modified}} </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> {{'CreatedBy' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/services/', row._id]"></tr>
    </table>
  </div>
</div>
