<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
    <div class="header-cart-title flex-w flex-sb-m p-b-8">
      <span class="mtext-103 cl2"> Your Cart </span>

      <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
        <i class="zmdi zmdi-close"></i>
      </div>
    </div>

    <div class="header-cart-content flex-w js-pscroll">
      <ul class="header-cart-wrapitem w-full">
        <li class="header-cart-item flex-w flex-t m-b-12">
          <div class="header-cart-item-img">
            <img src="images/item-cart-01.jpg" alt="IMG" />
          </div>

          <div class="header-cart-item-txt p-t-8">
            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
              White Shirt Pleat
            </a>

            <span class="header-cart-item-info"> 1 x $19.00 </span>
          </div>
        </li>

        <li class="header-cart-item flex-w flex-t m-b-12">
          <div class="header-cart-item-img">
            <img src="images/item-cart-02.jpg" alt="IMG" />
          </div>

          <div class="header-cart-item-txt p-t-8">
            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
              Converse All Star
            </a>

            <span class="header-cart-item-info"> 1 x $39.00 </span>
          </div>
        </li>

        <li class="header-cart-item flex-w flex-t m-b-12">
          <div class="header-cart-item-img">
            <img src="images/item-cart-03.jpg" alt="IMG" />
          </div>

          <div class="header-cart-item-txt p-t-8">
            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
              Nixon Porter Leather
            </a>

            <span class="header-cart-item-info"> 1 x $17.00 </span>
          </div>
        </li>
      </ul>

      <div class="w-full">
        <div class="header-cart-total w-full p-tb-40">Total: $75.00</div>

        <div class="header-cart-buttons flex-w w-full">
          <a
            href="shoping-cart.html"
            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10"
          >
            View Cart
          </a>

          <a
            href="shoping-cart.html"
            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10"
          >
            Check Out
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product -->
<div class="bg0 m-t-93 p-b-140">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
          data-filter="*"
        >
          All Products
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          data-filter=".women"
        >
          Women
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          data-filter=".men"
        >
          Men
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          data-filter=".bag"
        >
          Bag
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          data-filter=".shoes"
        >
          Shoes
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          data-filter=".watches"
        >
          Watches
        </button>
      </div>

      <seed-filler-and-search
        (isOpenFiller)="toggleFilter($event)"
        style="width: 100% ;position: relative;"
        (isOpenSearch)="toggleSearch($event)"
      ></seed-filler-and-search>
    </div>

    <div class="row isotope-grid">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-01.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Esprit Ruffle Shirt
              </a>

              <span class="stext-105 cl3"> $16.64 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-02.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Herschel supply
              </a>

              <span class="stext-105 cl3"> $35.31 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-03.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Only Check Trouser
              </a>

              <span class="stext-105 cl3"> $25.50 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-04.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Classic Trench Coat
              </a>

              <span class="stext-105 cl3"> $75.00 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-05.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Front Pocket Jumper
              </a>

              <span class="stext-105 cl3"> $34.75 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item watches">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-06.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Vintage Inspired Classic
              </a>

              <span class="stext-105 cl3"> $93.20 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-07.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Shirt in Stretch Cotton
              </a>

              <span class="stext-105 cl3"> $52.66 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-08.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Pieces Metallic Printed
              </a>

              <span class="stext-105 cl3"> $18.96 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item shoes">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-09.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Converse All Star Hi Plimsolls
              </a>

              <span class="stext-105 cl3"> $75.00 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-10.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Femme T-Shirt In Stripe
              </a>

              <span class="stext-105 cl3"> $25.85 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-11.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Herschel supply
              </a>

              <span class="stext-105 cl3"> $63.16 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-12.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Herschel supply
              </a>

              <span class="stext-105 cl3"> $63.15 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-13.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                T-Shirt with Sleeve
              </a>

              <span class="stext-105 cl3"> $18.49 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-14.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Pretty Little Thing
              </a>

              <span class="stext-105 cl3"> $54.79 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item watches">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-15.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Mini Silver Mesh Watch
              </a>

              <span class="stext-105 cl3"> $86.85 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="images/product-16.jpg" alt="IMG-PRODUCT" />

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                Square Neck Back
              </a>

              <span class="stext-105 cl3"> $29.64 </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="images/icons/icon-heart-01.png"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a
        href="#"
        class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04"
      >
        Load More
      </a>
    </div>
  </div>
</div>
