<form class="container" [formGroup]="serviceForm" role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate
      *ngIf="service$ | async as service">
    <mat-form-field>
        <input matInput placeholder="{{'Title' | translate}}" formControlName="title" [value]="service.title"
               [readonly]="true">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{'Images' | translate}}" formControlName="images" [value]="service.images" [readonly]="true">
    </mat-form-field>
    <mat-card class="example-card" (click)="updateImagesDialog(service.images, service._id)">
        <img mat-card-image [src]="service.images" alt="Photo of a Service">
    </mat-card>

    <div class="form-group has-feedback"
         [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
        <ckeditor [(ngModel)]="service.content"
                  #myckeditor="ngModel"
                  name="myckeditor"
                  [ngModelOptions]="{standalone: true}"
                  required
                  [config]="ckeConfig"
                  debounce="500"
                  (change)="onChange($event)">
        </ckeditor>
        <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
    </div>
    <button class="btn-save-blog" mat-raised-button [disabled]="!enabledForm"
            (click)="saveContent()">{{'Save' | translate }}</button>
</form>
